@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter+Tight:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;  
    padding: 0;
}

.sidebar{
    background-color: rgb(182, 169, 169);
    width: 15vw;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;

}
.sidebar nav{
    padding: 5px;
}

.sidebar nav li{
    list-style:none ;
    font-size: 30px;
    padding: 35px;
}

.main {
    
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer {
    
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    
}
.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 65px;
    
}

.name{
    font-size: 50px;
    font-weight: bold;
}

.about{
    font-size: 40px;
}

.moreabout{
    font-size: 22;
}

.buttons{
    margin-top: 34px;
}

.buttons button {
    padding: 10px 14px;
    border-radius: 22px;
    color: white    ;
    background-color: lightblue;
    font-weight: bold;
    font-size: 21px;
    margin: 3px;
    cursor: pointer;
}
.buttons button:hover{
    color: dodgerblue;
    background-color: white;
}

.devPic img {
    height: 58vh;
    
}
